  	<%include header %>
    <%include nav%>
  <form method="post" class="post-form">
    标题：<br />
    <input type="text" name="title" class="form-control" /><br />
    标签：<br />
    <input type="text" name="tag1" class="form-control" />
    <input type="text" name="tag2" class="form-control"/>
    <input type="text" name="tag3" class="form-control" /><br />
    正文：<br />
    <textarea name="post" rows="20" cols="100" class="form-control"></textarea><br />
    <input type="submit" value="发表" class="post-submit" />
  </form>
   <script charset="utf-8" src="/KindEditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/KindEditor/lang/zh_CN.js"></script>
    <script>
    var editor;
    KindEditor.ready(function(K) {
      editor = K.create('textarea', {
      allowImageUpload : false,
      items : [
        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
        'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
        'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
      });
    });
    </script>
      <%include foot%>