	<%include header %>
    <%include nav%>
    <div class="banner">
    <ul>
        <li><img src="" /></li>
        <li>This is another slide.</li>
        <li>This is a final slide.</li>
    </ul>
	</div>
	cv 简历
   
  		<%include foot%>