form.post-form{
	width:80%;
	margin:0 auto;
}
input[name*="tag"]{
	width:100px;
	display: inline-block;
	margin:5px;
}
.post-submit{
	color: #000;
    background-color: #fff;
    border-color: #eee;
    border-radius: 5px;
}
.post-submit
{
	margin:0 auto;
	display: block;
}