html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container-fluid{
	width:60%;
	margin:0 auto;
}
/* swiper.css*/
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
ul.tags{
	float:right;
	width:10%;
	margin-right: 10%;
	border:1px solid #eee;
	text-align: center;
}
ul.tags li:first-child{
	color: #555;
    background-color: #e7e7e7;
    
}
ul.tags li:first-child,ul.tags li:last-child{
border-bottom:none;
}
ul.tags li{
	padding: 2px;
	border-bottom:1px solid #eee;
}
ul.essay_list{
	width:70%;
	float:left;
	padding: 10px 1%;
	margin:0 5%;
	border:1px solid #eee;

}
ul.essay_list li{
	border-bottom:1px solid #eee;
	margin:10px 0;
}
span.label-default{
	color: #555;
    background-color: #e7e7e7;
}
ul.archive,.tag-ul{
	width:60%;
	margin:0 auto;
}
